body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedorPrin {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cubo {
    width: 100px;
    height: 100px;
    background-color: gray;
    /* margin: 10px; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}